/*============================================================================================
	Brands Area
==============================================================================================*/
.brand-area {
  padding-top: 80px;
}
.brand-slider {
  border-bottom: 1px solid #a5a9af;
  padding-top: 14px;
  padding-bottom: 36px;
}
.brand-section-head-title {
  color: #4d5461;
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
  line-height: 150%;
}




/*============================================================================================
	End Brands Area
==============================================================================================*/
