/*============================================================================================
	Header Area
==============================================================================================*/
.header-area {
  padding: 20px 0px;
  border-bottom: 1px solid #ffffff30;
}
.header-area.is-sticky {
  position: fixed;
  width: 100%;
  top: 0px;
  transition: all 0.2s ease;
  z-index: 666;
  animation: fadeInDown 1s both 0.2s;
  background: var(--white-color);
  box-shadow: 0px 8px 24px #04091e1a;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo.logo-2,
.header-area.is-sticky .header-logo.logo-1 {
  display: none;
}
.header-area.is-sticky .header-logo.logo-2 {
  display: block;
}
.header-logo img {
  width: 164px;
  height: 44px;
  object-fit: contain;
}
.header-menu-list li {
  display: inline-block;
  margin-right: 42px;
}
.header-menu-list li:last-child {
  margin: 0;
}
.header-menu-list li a {
  color: var(--white-color);
  line-height: 160%;
  font-size: 16px;
}
.header-menu-btn .theme-btn span {
  text-decoration: underline;
}
.header-menu-btn .theme-btn:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.header-area.is-sticky .header-menu-list li a {
  color: var(--title-color);
}
.header-area.is-sticky .header-menu-list li a:hover {
  color: var(--primary-color);
}
.header-area.is-sticky .header-menu-list li.active a {
  color: var(--primary-color);
}
.header-area.is-sticky .header-menu-btn .theme-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

/* Dropdown Menu */
.header-area .navigation li .sub-menu {
  position: absolute;
  top: 80px;
  width: 220px;
  background: #fff;
  z-index: 5222;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transform: translateY(-20px);
  box-shadow: 0px 10px 30px #04091e17;
  border-radius: 4px;
  margin: 0;
  padding: 12px 0px;
}
.header-area.header-style-2 .navigation li .sub-menu {
  top: 124px;
}
.header-area.header-style-2.is-sticky .navigation li .sub-menu {
  top: 74px;
}
.header-area .navigation li .sub-menu::before {
  background: #fff;
  bottom: 0;
  content: "";
  height: 12px;
  margin-left: -6px;
  opacity: 1;
  position: absolute;
  left: 24px;
  top: -6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.2s ease;
  visibility: visible;
  width: 12px;
}
.header-area .navigation li .sub-menu li.active a {
  color: var(--primary-color) !important;
  padding: 10px 25px;
}
.header-area.is-sticky .navigation li .sub-menu a {
  color: var(--title-color) !important;
}
.header-area.is-sticky .navigation li .sub-menu a:hover {
  color: var(--primary-color) !important;
}
.header-area .navigation li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header-area .navigation li .sub-menu li {
  display: block;
  margin: 0;
  text-align: left;
  border-bottom: 1.5px solid #04091e17;
}
.header-area .navigation li .sub-menu li:last-child {
  border: none;
}
.header-area .navigation li .sub-menu li a {
  color: var(--title-color);
  display: block;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 0;
}
.header-area .navigation li .sub-menu li a:hover {
  color: var(--primary-color);
  padding: 10px 25px;
  margin-left: 5px;
}
.header-area .navigation li:hover .sub-menu a::before {
  opacity: 0;
  visibility: hidden;
}
.header-area .navigation li .sub-menu li a::before {
  display: none;
}

/* Header Style 2 */
.header-style-2 {
  background: var(--white-color);
  padding: 16px 0px;
}
.header-menu-list.style-2 li a {
  color: var(--title-color);
}
.header-menu-list.style-2 li.active a,
.header-menu-list.style-2 li a:hover {
  color: var(--primary-color);
}
.header-menu-btn.style-2 .theme-btn {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--title-color);
  text-decoration: none;
  height: 59px;
}
.header-menu-btn.style-2 .theme-btn:hover {
  background: var(--primary-color);
  border: 1px solid transparent;
  color: var(--white-color);
}

/* Header Style 2 */
.header-area.header-style-3 {
  border-bottom: 1px solid #04091e21;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header-menu {
    display: none;
  }
  .header-menu-btn {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-menu {
    display: none;
  }
  .header-menu-btn {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
  .header-menu-btn {
    display: none;
  }
}

/*============================================================================================
	End Header Area
==============================================================================================*/
