/*============================================================================================
	Header Area
==============================================================================================*/
.header-area {
  padding: 20px 0px;
  border-bottom: 1px solid #ffffff30;
}
.header-area.is-sticky {
  position: fixed;
  width: 100%;
  top: 0px;
  transition: all 0.2s ease;
  z-index: 666;
  animation: fadeInDown 1s both 0.2s;
  background: var(--white-color);
  box-shadow: 0px 8px 24px #04091e1a;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo.logo-2,
.header-area.is-sticky .header-logo.logo-1 {
  display: none;
}
.header-area.is-sticky .header-logo.logo-2 {
  display: block;
}
.header-logo img {
  width: 164px;
  height: 44px;
  object-fit: contain;
}
.header-menu-list li {
  display: inline-block;
  margin-right: 42px;
}
.header-menu-list li:last-child {
  margin: 0;
}
.header-menu-list li a {
  color: var(--white-color);
  line-height: 160%;
  font-size: 16px;
}
.header-menu-btn .theme-btn span {
  text-decoration: underline;
}
.header-menu-btn .theme-btn:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.header-area.is-sticky .header-menu-list li a {
  color: var(--title-color);
}
.header-area.is-sticky .header-menu-list li a:hover {
  color: var(--primary-color);
}
.header-area.is-sticky .header-menu-list li.active a {
  color: var(--primary-color);
}
.header-area.is-sticky .header-menu-btn .theme-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

/* Header Style 2 */
.header-style-2 {
  background: var(--white-color);
  padding: 16px 0px;
}
.header-menu-list.style-2 li a {
  color: #747681;
}
.header-menu-list.style-2 li.active a,
.header-menu-list.style-2 li a:hover {
  color: var(--title-color);
}
.header-menu-btn.style-2 .theme-btn {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--title-color);
  text-decoration: none;
  height: 59px;
}
.header-menu-btn.style-2 .theme-btn:hover {
  background: var(--primary-color);
  border: 1px solid transparent;
  color: var(--white-color);
}

/* Header Style 2 */
.header-area.header-style-3 {
  border-bottom: 1px solid #04091e21;
}

/*============================================================================================
	End Header Area
==============================================================================================*/
