/*============================================================================================
	Hero Area
==============================================================================================*/
.section-bg-image {
  height: 840px;
  background: var(--primary-color);
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

/* Hero Banner One */
.hero-area {
  overflow: hidden;
}
.hero-content h1 {
  text-align: center;
  color: var(--white-color);
  font-size: 80px;
  letter-spacing: -2px;
  line-height: normal;
}
.hero-video-image {
  margin-top: 74px;
  position: relative;
}
.hero-video-image::before {
  position: absolute;
  content: "";
  width: 244px;
  height: 200px;
  background-image: url("../images/hero-banner/arrow-shape-1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: -17%;
  top: -32%;
  z-index: 22;
}
.video-popup-img {
  position: relative;
}
.video-popup-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 19px;
  background: linear-gradient(358deg, #04091e 0%, rgba(4, 9, 30, 0) 100%);
}
.video-popup-img img {
  width: 100%;
  height: 585px;
  border-radius: 19px;
  object-fit: cover;
}
.video-popup-img i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 137px;
  height: 137px;
  line-height: 137px;
  background: var(--secondary-color);
  border-radius: 100%;
  text-align: center;
  font-size: 48px;
  color: var(--title-color);
  transition: all 0.4s ease;
}
.video-popup-img i:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

/* Hero Style 2 */
.hero-area.hero-style-2 {
  padding: 92px 0px 112px;
}
.hero-area.hero-style-2 .hero-content-top-title h1 {
  color: var(--white-color);
  font-size: 68px;
  line-height: 78px;
}
.hero-area.hero-style-2 .hero-join-us-widget {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  background: var(--white-color);
  border-radius: 50px;
  padding: 10px 30px 12px 12px;
}
.hero-area.hero-style-2 .hero-join-us-text {
  color: var(--white-color);
  margin-bottom: 42px;
}
.hero-area.hero-style-2 .hero-join-us-widget-list li {
  display: inline-block;
  margin-left: -28px;
}
.hero-area.hero-style-2 .hero-join-us-widget-list li img {
  width: 62px;
  height: 62px;
  object-fit: cover;
  border-radius: 100%;
}
.hero-area.hero-style-2 .hero-join-us-widget-list li:first-child {
  margin: 0;
}
.hero-area.hero-style-2 .hero-join-us-widget-info h4 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 0;
}
.hero-area.hero-style-2 .hero-join-us-widget-info p {
  font-size: 16px;
  margin: 0;
  line-height: 148%;
  color: #4d5461;
}
.hero-area.hero-style-2 .hero-content-bottom.style-2 {
  margin-top: 104px;
}
.hero-area.hero-style-2 .hero-content-bottom-img img {
  width: 100%;
  height: 354px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
}
.hero-funfact {
  background: var(--primary-color);
  border-radius: 10px;
  padding: 36px 36px 30px 36px;
}
.hero-funfact-single {
  border-bottom: 1px solid var(--white-color);
  padding-bottom: 24px;
  margin-bottom: 29px;
}
.hero-funfact-single:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}
.hero-funfact-single h6 {
  font-size: 34px;
  color: var(--white-color);
  line-height: 26px;
  letter-spacing: -2px;
  margin-bottom: 8px;
}
.hero-funfact-single p {
  color: var(--white-color);
  font-size: 16px;
  margin: 0;
  line-height: 26px;
}
/*============================================================================================
	End Hero Area
==============================================================================================*/
