/*============================================================================================
	Portfolio Area
==============================================================================================*/
.portfolio-area {
  padding: 120px 0px;
  background: var(--white-color);
}
.project-nav {
  margin-bottom: 34px;
}
.project-nav li {
  background: transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #4d5461 !important;
  text-transform: capitalize !important;
  margin: 0 !important;
  padding: 4px 20px !important;
  border-radius: 2px;
}
.project-nav li.active,
.project-nav li:hover {
  background: var(--primary-color) !important;
  color: var(--white-color) !important;
}

.project-nav.style-2 li.active,
.project-nav.style-2 li:hover {
  background: transparent !important;
  color: var(--primary-color) !important;
  text-decoration: underline;
}
.project-nav.style-2 li {
  padding: 4px 16px !important;
}
.single-portfolio {
  position: relative;
}
.single-portfolio:hover .portfolio-image img {
  transform: scale(1.04);
}
.portfolio-image {
  overflow: hidden;
  border-radius: 12px;
}
.portfolio-image .portfolio-image img {
  width: 100%;
  height: 450px;
  border-radius: 12px;
  object-fit: cover;
}
.portfolio-content {
  background: var(--white-color);
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  bottom: 36px;
  right: 0;
  padding: 14px 30px 14px 20px;
}
.portfolio-content span {
  font-size: 20px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 6px;
  color: #747681;
  display: inline-block;
}
.portfolio-content h4 {
  font-size: 24px;
  line-height: 150%;
  margin: 0;
}

/* Portfolio Style 2 */
.portflio-style-2 .portfolio-content {
  background: transparent;
  border-radius: 0;
  position: initial;
  padding: 0;
  margin-top: 30px;
}
.portflio-style-2 .single-portfolio {
  margin-top: 60px;
}
.portflio-style-2 .single-portfolio.margin-add {
  margin: 0;
  margin-top: -26px;
}

/* Portfolio Style 3 */

.portfolio-area.style-3 {
  overflow: hidden;
  padding-top: 40px;
}
.portfolio-section-bg {
  width: 100%;
  height: 930px;
  position: absolute;
  top: 84px;
  left: 0;
}
.portfolio-area.style-3 .section-head {
  z-index: 2;
  position: relative;
}
.portfolio-area.style-3 .section-head-sm-title {
  color: var(--secondary-color);
}
.portfolio-area.style-3 .section-head-title {
  color: var(--white-color);
}
.portfolio-card-slider.style-3 {
  margin-top: 48px;
  padding-bottom: 42px;
}
.portfolio-area.style-3 .container-fluid {
  padding-right: 0;
  padding-left: 375px;
}
.portfolio-area.style-3 .single-portfolio {
  width: 370px;
  position: relative;
}
.portfolio-area.style-3 .portfolio-image img {
  width: 100%;
  height: 497px;
  border-radius: 12px;
  object-fit: cover;
}

.portfolio-area.style-3 .portfolio-info {
  position: absolute;
  background: #0b6755e5;
  padding: 30px;
  border-radius: 12px;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  min-width: 92%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.portfolio-area.style-3 .single-portfolio:hover .portfolio-info {
  bottom: 50%;
  opacity: 1;
  visibility: visible;
}
.portfolio-area.style-3 .portfolio-info-content {
  margin-top: 24px;
}
.portfolio-area.style-3 .portfolio-info-icon {
  display: inline-block;
}
.portfolio-area.style-3 .portfolio-info-icon img {
  width: 90px;
  height: 90px;
}
.portfolio-area.style-3 .portfolio-info-content h4 {
  color: var(--white-color);
  font-size: 24px;
  margin-bottom: 14px;
  line-height: 150%;
}
.portfolio-area.style-3 .portfolio-info-content p {
  color: var(--white-color);
  margin: 0;
}
.portfolio-area.style-3 .portfolio-info-btn {
  display: inline-flex;
  align-items: center;
  color: var(--white-color) !important;
  margin-top: 28px;
}
.portfolio-area.style-3 .portfolio-info-btn {
  display: inline-flex;
  align-items: center;
  color: var(--white-color) !important;
  margin-top: 28px;
  font-size: 18px;
  font-weight: 600;
  line-height: 152%;
}
.portfolio-area.style-3 .portfolio-info-btn:hover {
  color: var(--secondary-color) !important;
}
.portfolio-area.style-3 .portfolio-info-btn i {
  margin-left: 6px;
  position: relative;
  top: 3px;
}

/* Slider Arrow */
.portfolio-area.style-3 .owl-nav {
  position: absolute;
  top: -35%;
  right: 24%;
}
.portfolio-area.style-3 .owl-nav i {
  position: relative;
  top: 3px;
}
.portfolio-area.style-3 .owl-prev {
  margin-right: 24px !important;
}

.portfolio-area.style-3 .owl-theme .owl-nav [class*="owl-"] {
  color: var(--title-color);
  font-size: 18px;
  padding: 12px 20px;
  display: inline-block;
  border-radius: 37px;
  background: #d9d9d9;
  transition: all 0.4s ease;
  margin: 0;
  line-height: 130%;
}
.portfolio-area.style-3 .owl-theme .owl-nav [class*="owl-"]:hover {
  background: var(--secondary-color);
}
/* Slider Dot */
.portfolio-area.style-3 .owl-dots {
  line-height: 4px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
}
.portfolio-area.style-3 .owl-dots .owl-dot span {
  width: 20px;
  height: 12px;
  margin: 0;
  background: var(--primary-color);
  display: block;
  border-radius: 20px;
  opacity: 0.4000000059604645;
  margin-right: 8px;
  transition: all 0.4s ease;
}
.portfolio-area.style-3 .owl-dots .owl-dot.active span {
  background: var(--primary-color);
  opacity: 1;
  width: 50px;
}
.portfolio-area.style-3 .owl-dots .owl-dot:hover span {
  opacity: 1 !important;
  background: var(--primary-color) !important;
}
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
  .portfolio-area.style-3 .container-fluid {
    padding-left: 182px;
  }
  .portfolio-area.style-3 .owl-nav {
    right: 13%;
  }
}

/* Portfolio Style 4 */

#portfolio-item-2 .single-portfolio {
  width: 100% !important;
}
#portfolio-item-2 .portfolio-image img {
  height: 560px;
}

#portfolio-item-2 .portfolio-info {
  position: absolute;
  background: #0b6755e5;
  padding: 30px;
  border-radius: 12px;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  min-width: 92%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
#portfolio-item-2 .portfolio-info {
  left: initial;
  width: 340px;
  right: 0;
  border-radius: 0px 0px 12px 0px;
  min-width: 340px;
  transform: none;
}
#portfolio-item-2 .single-portfolio:hover .portfolio-info {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

/* Portfolio Details */
.portfolio-details-area {
  padding: 120px 0px;
}
.portfolio-details-area .owl-nav {
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translate(-50%);
}
.portfolio-details-area .owl-nav i {
  position: relative;
  top: 3px;
}
.portfolio-details-area .owl-prev {
  margin-right: 24px !important;
}

.portfolio-details-area .owl-theme .owl-nav [class*="owl-"] {
  color: var(--title-color);
  font-size: 18px;
  padding: 12px 20px;
  display: inline-block;
  border-radius: 37px;
  background: #d9d9d9;
  transition: all 0.4s ease;
  margin: 0;
  line-height: 130%;
  min-width: 126px;
}
.portfolio-details-area .owl-theme .owl-nav [class*="owl-"]:hover {
  background: var(--secondary-color);
}
.portfolio-meta-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.portfolio-meta-widget {
  margin-top: 40px;
}
.portfolio-meta-widget h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}
.portfolio-meta-widget p {
  margin: 0;
}
.portfolio-main-info-content {
  margin-top: 56px;
}
.portfolio-main-info-widget h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 22px;
}
.portfolio-main-info-widget p {
  font-size: 16px;
  line-height: 160%;
  margin: 0;
}
.p-details-info-widget {
  margin-top: 60px;
}
.p-details-info-widget-image img {
  width: 100%;
  height: 386px;
  object-fit: cover;
  border-radius: 12px;
}
.p-details-info-widget-contnet span {
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  background: #dcf3e8;
  border-radius: 100%;
  text-align: center;
  font-size: 32px;
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 24px;
}
.p-details-info-widget-contnet h3 {
  font-size: 32px;
  margin-bottom: 18px;
  font-weight: 600;
  line-height: 140%;
}
.p-details-info-widget-contnet p {
  font-size: 16px;
  line-height: 160%;
  margin: 0;
}
.p-details-info-widget-contnet ul {
  margin-top: 30px;
}
.p-details-info-widget-contnet ul li {
  margin-bottom: 12px;
}
.p-details-info-widget-contnet ul li:last-child {
  margin: 0;
}
.p-details-info-widget-contnet ul li img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.p-details-slider-img img {
  max-width: 100%;
  height: 660px;
  object-fit: cover;
  border-radius: 12px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .portfolio-area.style-3 .container-fluid {
    padding-left: 5%;
  }
  .portfolio-area.style-3 .owl-nav {
    right: 5%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-area.style-3 .container-fluid {
    padding-left: 5%;
  }
  .portfolio-area.style-3 .owl-nav {
    right: 5%;
  }
  .portfolio-meta-group {
    grid-template-columns: repeat(2, 1fr);
  }
  .p-details-slider-img img {
    height: 480px;
  }
  #portfolio-item-2 .portfolio-image img,
  .portfolio-area.style-3 .portfolio-image img {
    height: 400px;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio-area {
    padding: 56px 0px;
  }
  .project-nav li {
    font-size: 15px;
    margin-bottom: 8px !important;
  }
  .portfolio-content span {
    font-size: 16px;
    line-height: 140%;
  }
  .portfolio-content h4 {
    font-size: 20px;
    line-height: 140%;
  }
  .portflio-style-2 .portfolio-content {
    margin-top: 16px;
  }
  .portflio-style-2 .single-portfolio {
    margin-top: 32px;
  }
  .portflio-style-2 .single-portfolio.margin-add {
    margin-top: 32px;
  }
  .portfolio-area.style-3 .owl-nav {
    position: initial;
    display: none;
  }
  .portfolio-section-bg {
    height: 600px;
    top: -32px;
  }
  .portfolio-area.style-3 .portfolio-image img {
    height: 320px !important;
  }
  .portfolio-area.style-3 .portfolio-info-icon img {
    width: 72px;
    height: 72px;
  }
  .portfolio-area.style-3 .portfolio-info-content h4 {
    font-size: 18px;
  }
  .portfolio-area.style-3 .portfolio-info-btn {
    margin-top: 12px;
    font-size: 14px;
  }
  .portfolio-area.style-3 .portfolio-info-content {
    margin-top: 8px;
  }

  .portfolio-area.style-3 .portfolio-info {
    bottom: 0;
    left: 0;
    transform: none;
    min-width: 72%;
    max-width: 72%;
    border-radius: 0px 12px 0px 0px;
  }
  .portfolio-area.style-3 .single-portfolio:hover .portfolio-info {
    bottom: 0;
  }
  .portfolio-details-area {
    padding: 56px 0px;
  }
  .p-details-slider-img img {
    height: 280px;
  }
  .portfolio-details-area .owl-theme .owl-nav [class*="owl-"] {
    font-size: 14px;
    padding: 10px;
    display: block;
    min-width: 72%;
    margin: 0 !important;
  }
  .portfolio-details-area .owl-nav {
    bottom: 12px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .portfolio-meta-group {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio-meta-widget h4 {
    font-size: 16px;
  }
  .portfolio-meta-widget {
    margin-top: 20px;
  }
  .portfolio-main-info-widget h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .p-details-info-widget {
    margin-top: 30px;
  }
  .p-details-info-widget-image img {
    height: 280px;
  }
  .p-details-info-widget-contnet span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    margin-bottom: 16px;
  }
  .p-details-info-widget-contnet h3 {
    font-size: 22px;
    margin-bottom: 8px;
  }
  .p-details-info-widget-contnet ul li {
    margin-bottom: 8px;
    font-size: 15px;
  }
  .p-details-info-widget-contnet ul li img {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
  .p-details-info-widget-contnet {
    margin-top: 24px;
  }
  .p-details-info-widget-image {
    margin-top: 24px;
  }

  .portfolio-area.style-3 {
    padding: 56px 0px !important;
  }
  #portfolio-item-2 .portfolio-info {
    width: 100%;
    border-radius: 12px;
    min-width: 100%;
  }
}

/*============================================================================================
	End Portfolio Area
==============================================================================================*/
