/*============================================================================================
	Service Area
==============================================================================================*/
.service-area {
  padding: 40px 0px 296px;
  background: #fff5df;
  position: relative;
  z-index: 2;
}

.service-area .section-head-sm-title {
  color: var(--primary-color);
  font-size: 22px;
  margin-bottom: 26px;
}
.service-section-shape {
  width: 100%;
  height: 100%;
}
.service-section-shape .shape {
  position: absolute;
  z-index: -1;
}
.service-section-shape .shape-1 {
  top: 7%;
  left: 17%;
}
.service-section-shape .shape-2 {
  right: 5%;
  top: 10%;
}
.service-section-shape .shape-3 {
  bottom: 22%;
  right: 6%;
}
.service-card {
  background: var(--white-color);
  padding: 28px;
  margin-top: 28px;
  box-shadow: 0px 4px 57px 0px rgba(103, 120, 136, 0.14);
  border-radius: 12px;
}

.service-card-icon img {
  width: 72px;
  height: 72px;
  object-fit: contain;
  border-radius: 100%;
}
.service-card-content {
  margin-top: 14px;
}
.service-card-title {
  font-size: 24px;
  margin-bottom: 14px;
  line-height: 150%;
}
.service-card-text {
  line-height: 160%;
  margin: 0;
  color: #4d5461;
}
.service-card-btn {
  margin-top: 20px;
}
.service-card-btn a {
  display: inline-block;
  font-weight: 600;
  color: var(--primary-color) !important;
  line-height: 152%;
}
.service-card-btn a:hover {
  color: var(--secondary-color) !important;
}
.service-card-btn a i {
  margin-left: 4px;
  font-size: 20px;
  position: relative;
  top: 3px;
}

/* Service Style 2 */
.service-area.service-style-2 {
  background: var(--white-color);
  padding: 112px 0px 120px;
}
.service-section-head.style-2 {
  margin-bottom: 60px;
}
.service-section-head.style-2 .service-section-head-sm-title {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 16px;
  line-height: 120%;
}
.service-section-head.style-2 .service-section-head-big-title {
  font-size: 44px;
  line-height: 140%;
  margin: 0;
}
.service-area.service-style-2 .service-single-widget {
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #dcf3e8;
  padding-bottom: 28px;
  margin-bottom: 30px;
}
.service-area.service-style-2 .service-single-widget:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
.service-area.service-style-2 .service-single-widget-info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.service-area.service-style-2 .service-single-widget-info-icon {
  width: 61px;
  height: 61px;
  background: var(--secondary-color);
  border-radius: 100%;
  text-align: center;
  line-height: 61px;
}
.service-area.service-style-2 .service-single-widget-info-icon img {
  width: 30px;
  height: 30px;
}
.service-area.service-style-2 .service-single-widget-info-content p {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 8px;
  line-height: 160%;
}
.service-area.service-style-2
  .service-single-widget:hover
  .service-single-widget-info-content
  h4 {
  color: var(--primary-color);
}
.service-area.service-style-2 .service-single-widget-info-content h4 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
}
.service-area.service-style-2
  .service-single-widget:hover
  .service-single-widget-btn {
  opacity: 1;
}
.service-area.service-style-2 .service-single-widget-btn {
  position: relative;
  z-index: 2;
  opacity: 0.4000000059604645;
  transition: all 0.4s ease;
}
.service-area.service-style-2 .service-single-widget-btn::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--primary-color);
  z-index: -1;
  right: 16px;
  top: 6px;
}

.service-area.service-style-2 .service-image-preview {
  position: absolute;
  top: -90px;
  right: 10%;
  width: 276px;
  height: 276px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  z-index: 9999;
}

.service-area.service-style-2
  .service-single-widget:hover
  .service-image-preview-overlay {
  opacity: 1;
  visibility: visible;
}
.service-image-preview-overlay {
  position: absolute;
  right: 11%;
  top: -108px;
  opacity: 0;
  visibility: hidden;
}
.service-image-preview-overlay::before {
  position: absolute;
  content: "";
  width: 276px;
  height: 276px;
  background: var(--primary-color);
  border-radius: 12px;
  transform: rotate(5.16deg);
  z-index: 1;
  top: 0;
  right: 10%;
}
/*============================================================================================
	End Service Area
==============================================================================================*/
